.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  button {
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    border: none;
    background-color: rgb(128, 6, 128);
    color: white;
    cursor: pointer;
  }
}
